<launch>
  <!-- Arguments -->
  <arg name="pipeline" default="ompl" />
  <arg name="db" default="false" />
  <arg name="db_path" default="$(find moveit_resources_fanuc_moveit_config)/default_warehouse_mongo_db" />
  <arg name="debug" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="use_rviz" default="true" />
  <arg name="world" default="$(find gazebo_ros)/worlds/empty.world" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
  </include>

  <!-- Load the URDF, SRDF, and other configuration files -->
  <param name="robot_description" command="$(find xacro)/xacro $(find moveit_resources_fanuc_description)/urdf/fanuc.urdf" />
  
  <!-- Publish robot state to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Controllers and YAML configuration -->
  <rosparam file="$(find moveit_resources_fanuc_moveit_config)/config/ros_controllers.yaml" command="load" />

  <!-- Spawn Fanuc robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model fanuc" output="screen" />

  <!-- Load and start the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_controller" />

  <!-- MoveIt setup -->
  <include file="$(dirname)/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <!-- <arg name="fake_execution" value="false" />  -->
    <arg name="info" value="true" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="pipeline" value="$(arg pipeline)" />
  </include>

  <!-- Rviz for visualization -->
  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- If database loading is enabled, start MongoDB -->
  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)" />
  </include>

</launch>
